body {
    background-color: rgb(224, 224, 224);
    margin: 0px;
    overflow: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/************************ Editor for tours  ************************/

#tourCreator {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    left: -1px;
    /* hide border */
    top: -1px;
    width: 600px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
    padding: 10px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    transition: width 1s;
}

ul {
    list-style: none;
    padding: 0;
}

li:hover {
    /*background-color: rgb(0, 0, 0, 0.2);*/
    cursor: default
}

.tourDragHandle {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    cursor: move;
    vertical-align: top;
}

.tourElement {
    max-width: 170px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    height: 115px;
    padding: 5px;
    border-radius: 5px;
}

.tourElement::before {
    position: absolute;
    margin-left: 176px;
    /* width plus margin plus border*/
    margin-top: 50px;
    content: "▶\00FE0E";
    color: rgba(0, 0, 0, 0.2);
}

.tourElement:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.tourChange {
    background-color: #0073f9aa;
    0073f9aa
}

.tourCamera {
    background-color: #5fbbc3aa;
}

.tourSelection {
    background-color: #df314eaa;
}

.tourMarker {
    background-color: #288f35aa;
}

.tourItemName {
    width: 100px;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    overflow: hidden;
}

.tourItemDisabled {
    opacity: 0.5;
}

.tourItemCheckbox {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    vertical-align: top;
}

.tourItemDisabled .tourItemCheckbox {
    background-color: transparent
}

.tourItemDurationHeadline, .tourItemDelayHeadline {
    display: inline-block;
    width: 70px;
}

.tourItemValueHeadline {
    display: inline-block;
    width: 50px;
}

.tourItemMarkerX, .tourItemMarkerY, .tourItemMarkerZ, .tourItemCameraX, .tourItemCameraY, .tourItemCameraZ, .tourItemCameraUpX, .tourItemCameraUpY, .tourItemCameraUpZ {
    width: 30px;
}

button {
    cursor: pointer;
    display: inline-block;
    color: #333333;
    border: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 1px;
    padding: 2px 10px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    border: 0px;
}

#tourCreator input {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1678);
    color: white;
}

#tourCreator input[type=number] {
    max-width: 50px;
    margin: 2px;
}

#tourCreator textarea {
    font-size: 11px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    height: 30px;
    border: 0px;
    opacity: 0.8;
}

#tourCreator input[type=text] {
    width: 100px
}

/************************ GUI for settings ************************/

#guiArea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    right: -1px;
    /* hide border */
    top: -1px;
    width: 400px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    padding: 10px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    transition: width 1s, opacity 0.5s, backdrop-filter 0.5s;
    z-index: 100;
}

#guiArea>div:last-child {
    margin-bottom: 30px;
}

#guiArea input[type=number] {
    width: 60px;
    height: 15px;
    font-size: 11px;
    margin: 2px;
    background: transparent;
    border: 0px;
    color: #ffffff;
}

.guiAreaRestricted {
    opacity: 0;
    pointer-events: none;
    backdrop-filter: none !important;
}

.guiLine {
    vertical-align: top;
    margin-left: 5%;
    padding: 4px;
    position: relative;
    width: 95%;
    height: 20px;
    transition: height 0.5s, padding 0.5s;
    cursor: default;
    overflow-y: hidden;
}

.guiAreaToggle {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer !important;
    z-index: 100;
    transition: opacity 0.3s;
}

.guiAreaToggle:hover {
    opacity: 0.5;
}

.crossed {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) calc(50% - 0.8px), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) calc(50% + 0.8px), rgba(255, 255, 255, 0) 100%), linear-gradient(to top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) calc(50% - 0.8px), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) calc(50% + 0.8px), rgba(255, 255, 255, 0) 100%);
}

.resetCamLink {
    display: inline-block;
    color: #333333;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 1px;
    padding: 2px 10px;
}

.resetCamLink:hover {
    opacity: 0.8;
}

.guiBlock {
    vertical-align: top;
    margin-left: 5%;
    padding: 4px;
    position: relative;
    width: 95%;
    /*background-color: white;*/
    transition: background-color 0.5s;
    cursor: default;
}

.guiLine:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.guiTag {
    position: relative;
    width: 40%;
    float: left;
}

.guiSlider {
    position: relative;
    width: 40%;
    float: left;
}

.guiSelect {
    position: relative;
    width: 55%;
    float: left;
}

.guiValueFloat {
    margin-left: 10px;
    position: relative;
    width: 10%;
    float: left;
    overflow: hidden
}

.guiMainHeadline {
    vertical-align: top;
    margin: 0px 2px 0px 2px;
    padding: 20px 4px 20px 4px;
    position: relative;
    width: 100%;
    height: 20px;
    /*background-color: white;*/
    font-size: 19px;
    font-variant: small-caps;
    cursor: default;
}

.guiHeadline::before {
    content: "▷\00FE0E";
    margin-right: 5px;
    display: inline-block;
    transition: transform 0.5s;
    transform: rotate(0deg);
}

.guiHeadlineOpened::before {
    transform: rotate(90deg);
}

.guiHeadline {
    font-weight: bold;
    vertical-align: top;
    margin: 0px 2px 0px 2px;
    padding: 4px;
    position: relative;
    width: 100%;
    height: 20px;
    /*background-color: white;*/
    /*color: rgb(36, 96, 163);*/
    font-size: 15px;
    cursor: pointer;
}

input[type=color] {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 55%;
}

/************************ Loading screen and selection marker ************************/

.welcomeBox {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    width: 400px;
    color: #555555;
    background-color: white;
    border-radius: 0;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    transform: translateZ(0);
    padding: 20px;
    text-align: center;
}

.welcomeBox a {
    font-size: 25px;
    color: black;
    font-variant: small-caps;
}

#selectionBox {
    border: 2px dotted #000;
    position: absolute;
}

#loadingBox {
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    background-color: rgb(224, 224, 224);
    transition: opacity 1s;
}


#loadingBoxInner {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 0;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    transform: translateZ(0);
}

#loadingBar {
    position: relative;
    height: 23px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#loadingBarInner {
    position: absolute;
    width: 0%;
    background: #bbbbbb;
    height: 100%;
}

#loadingBarInnerStatus {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: black;
    font-variant: small-caps;
}

#loadingImage {
    height: 27px;
}

#loadingText {
    position: relative;
    color: black;
    padding: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-variant: small-caps;
}

.hideMe {
    display: none;
    pointer-events: none;
}

.hideGuiElement {
    height: 0px;
    padding: 0px;
    pointer-events: none;
}

/************************ Annotations ************************/

.removeMe {
    display: none;
}

.annotationBox {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vmin;
    border-radius: 0.5vmin;
    font-size: 2vmin;
    /*height: 20px;*/
    z-index: 100;
    background: #00000044;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
}

.annotationBox:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 1vmin solid transparent;
    border-bottom: 1vmin solid transparent;
    border-right: 1vmin solid #00000044;
    position: absolute;
    top: 1vmin;
    left: -1vmin;
}

.annotationBoxVisible {
    opacity: 1;
}

/************************ Inset (bottom left overview) ************************/

#inset {
    width: 10vmin;
    height: 10vmin;
    background-color: transparent;
    /* or transparent; will show through only if renderer alpha: true */
    border: 0px solid rgb(22, 105, 230);
    /* or none; */
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 4vmin;
    z-index: 100;
}

#insetLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    background-color: transparent;
    /* or transparent; will show through only if renderer alpha: true */
    border: 0px solid rgb(22, 105, 230);
    /* or none; */
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 3vmin;
    bottom: 4vmin;
    z-index: 100;
}

#insetLabelRed {
    color: #ff0022;
}

#insetLabelGreen {
    color: #00c83c;
}

#insetLabelBlue {
    color: #0073f9;
}

#screenshotVideoHolder {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 20px;
    left: 3vmin;
    bottom: 0.5vmin;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

#screenshotVideoHolder span {
    display: table-cell;
    padding: 0;
    cursor: pointer;
    min-width: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 2px;
    border: 1px solid transparent;
    text-align: center;
}

#screenshotVideoHolder span:hover {
    background: rgba(0, 0, 0, 0.2);
}

/************************ Slider formatting ************************/

/* AUTO GENERATED FROM https://www.cssportal.com/style-input-range/ */

input[type=range] {
    height: 16px;
    -webkit-appearance: none;
    background-color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: rgb(211, 218, 223);
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #2497E3;
    height: 10px;
    width: 21px;
    border-radius: 8px;
    background: rgb(47, 123, 167);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(211, 218, 223);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: rgb(211, 218, 223);
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #2497E3;
    height: 10px;
    width: 21px;
    border-radius: 8px;
    background: rgb(47, 123, 167);
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgb(211, 218, 223);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: rgb(211, 218, 223);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #2497E3;
    height: 10px;
    width: 21px;
    border-radius: 8px;
    background: rgb(47, 123, 167);
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgb(211, 218, 223);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgb(211, 218, 223);
}

/* END AUTO GENERATED */